[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Dillo
Comment=Dillo Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer dillo
Icon=dillo
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
