[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Librewolf
Comment=Librewolf Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer librewolf
Icon=librewolf
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
