[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QupZilla
Comment=QupZilla Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer qupzilla
Icon=qupzilla
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
