[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Vivaldi
Comment=Vivaldi Web Browser
Exec=remsu /usr/bin/sparky-webbrowser-installer vivaldi
Icon=/opt/vivaldi/product_logo_48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
