[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Comment=Chromium Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer chromium
Icon=chromium
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
