[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SeaMonkey
Comment=SeaMonkey Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer seamonkey
Icon=/opt/seamonkey/chrome/icons/default/main-window48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
