[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Web Browser Installer
GenericName=Web Browser Installer
Name[pl_PL]=Instalacja Przeglądarki WWW
Comment=Install your favorite web browser
Comment[pl_PL]=Instalacja ulubionej przeglądarki stron www
Exec=/usr/bin/sparky-webbrowser
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Network;

