[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Browsh
Comment=Browsh a text based web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer browsh
Icon=browsh-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
