[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cyberfox
Comment=Cyberfox Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer cyberfox
Icon=cyberfox
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
