[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TOR Browser
Comment=TOR Browser
Exec=remsu /usr/bin/sparky-webbrowser-installer tor-browser
Icon=/opt/tor-browser/Browser/browser/chrome/icons/default/default48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
