[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ELinks
Comment=Text based Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer elinks
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
