[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Falkon
Comment=Falkon Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer falkon
Icon=falkon
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
