[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Slimjet
Comment=Slimjet Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer slimjet
Icon=slimjet
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
