[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=w3m
Comment=Text based Web browser
Exec=remsu /usr/bin/sparky-webbrowser-installer w3m
Icon=web-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=Network;
